---
layout: bootcamp
root: .
venue: NERC / University of Leeds
address: Charles Thackrah Building, University of Leeds, Leeds, LS2 9JT
country: United-Kingdom
humandate: Nov 24-26, 2014
humantime: 9:00 am - 5:00 pm
startdate: 2014-11-24
enddate: 2014-11-26
latlng: 53.8070,-1.5607
registration: restricted
instructor: ["Martin Callaghan", "Devasena Inupakutika", "Andrew Walker"]
helper: ["Aaron O'Leary", "Peter Willetts", "Marlene Mengoni", "Jo Leng"]
contact: a.walker@leeds.ac.uk
---

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="//software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This three-day hands-on workshop will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<p> 
  The workshop is funded by <a href="//www.nerc.ac.uk/">NERC</a> as part of the 
  <a href="//www.nerc.ac.uk/funding/available/postgrad/advanced/atsc/">
  Advanced Training Short Courses</a> programme
 (the application can be found <a href='http://dx.doi.org/10.6084/m9.figshare.1206320'>here</a>). 
  Priority will thus be given to 
  NERC-funded PhD students and early career researchers from the environmental 
  sciences who should contact <a href="mailto:a.walker@leeds.ac.uk">Andrew Walker</a>
  for booking information. Some funding to cover travel and accommodation costs of 
  these participants is avalable. Any unallocated spaces will be made generally avalable 
  in late October. A second near identical workshop will be held in January 2015. Further
  information can be found <a href="http://andreww.github.io/2015-01-14-leeds/">here</a>.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your workshop.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at postgraduate students and other scientists who are familiar 
  with basic programming concepts (like loops, conditionals, arrays, and functions) but 
  need help to translate this knowledge into practical tools to help them work more productively.
  Priority will be given to NERC-funded PhD students and early career researchers from the environmental
  sciences.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the schedule for your workshop.
-->
<h2>Schedule</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Day 1</h3>
    <table class="table table-striped">
     <tr> <td>09:00</td> <td> Arrival and Welcome</td> </tr>
     <tr> <td>09:30</td> <td> Using the shell to do more in less time (introduction)</td> </tr>
     <tr> <td>10:30</td> <td> <em>Break</em></td> </tr>
     <tr> <td>10:45</td> <td> Introducing Python for Environmental Scientists</td> </tr>
     <tr> <td>12:00</td> <td> <em>Lunch (provided)</em></td> </tr>
     <tr> <td>13:00</td> <td> Using version control to manage and share information</td> </tr>
     <tr> <td>15:00</td> <td> <em>Break</em></td> </tr>
     <tr> <td>15:30</td> <td> Python and good programming practice</td> </tr>
     <tr> <td>16:30</td> <td> Good programming practice and documentation</td> </tr>
     <tr> <td>17:30</td> <td> <em>Close</em></td> </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Day 2</h3>
    <table class="table table-striped">
     <tr> <td>09:00</td> <td> Recap </td> </tr>
     <tr> <td>09:30 </td> <td>Data and code - introduction to OO in python</td> </tr>
     <tr> <td>10:30</td> <td> <em>Break</em></td> </tr>
     <tr> <td>10:45</td> <td> Defensive programming</td> </tr>
     <tr> <td>12:00</td> <td> <em>Lunch</em></td> </tr>
     <tr> <td>13:00</td> <td> Program design - handling environmental data (1)</td> </tr>
     <tr> <td>14:45</td> <td> <em>Break</em></td> </tr>
     <tr> <td>15:15</td> <td> Program design - handling environmental data (2)</td> </tr>
     <tr> <td>16:15</td> <td> Using the shell to do more in less time (further shell tricks) </td> </tr>
     <tr> <td>17:00</td> <td> Pulling it all together</td> </tr>
     <tr> <td>17:30</td> <td> Close</td> </tr>
    </table>
  </div>
  <h3>Day 3</h3>
  <p>The third day will attendees to begin to work together in small groups to develop 
    useful tools for their own research. We will start with an introduction to the day
    at 09:00 and have a wrap-up session including time for groups show their progress 
    from about 15:00. We will finish by 17:00 (lunch and breaks will be provided as 
    detailed above).
    
  </p>
</div>

<hr/>

<!--
    Edit this block to show what topics will be covered.
-->
<h2>Syllabus</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>The Unix Shell</h3>
    <ul>
      <li>Files and directories: <code>pwd</code>, <code>cd</code>, <code>ls</code>, <code>mkdir</code>, ...</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things: <code>grep</code>, <code>find</code>, ...</li>
      <li><a href="novice/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals: <code>for</code>, <code>if</code>, <code>else</code>, ...</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="novice/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="novice/ref/02-git.html">Reference...</a></li>
    </ul>
  </div>
</div>

<hr/>


<!--
    Edit the setup instructions in _includes/setup.html to reflect your workshop.
    (In particular, most workshops teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry workshop, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your workshop.
</p>

{% include setup.html %}

<hr/>

<h2>Before the workshop</h2>

<p>
There are a three extra tasks to undertake before the workshop in 
order to help make sure things run smoothly. Please try to do the
following.
</p>

<div class="row-fluid">
  <div class="span6">

<h3>1. Grab free accounts</h3>

<p>
If you haven't already, please register for free accounts to 
<ul>
<li>Make use of Github. Register <a href='https://github.com/'>here</a> and don't forget your password. We will use this service as part of the lesson on version control.</li>
<li>Use the Met Office datapoint API. Register for an account 
<a href='http://register.metoffice.gov.uk/register/datapoint'>here</a>. We will use this as a data source for some of the exercises.</li>
</ul>
</p>

<h3>2. Take a look at Python</h3>

<p>
If you are new to Python, or you fear that your Python is rusty, it 
may be worth taking a look at an online introduction. Christopher 
Woods has a nice short introduction 
<a href='http://chryswoods.com/beginning_python'>here</a>. 
If you can follow this as 
far as "conditions", you are good to go. We will be reviewing this 
material anyway, so don't worry if you get stuck.
</h>

</div>
<div class="span6">

<h3>3. Check your setup</h3>
<p>
Finally, it is worth checking your setup, following the steps outlined 
below.
</p>
<ul>
  <li>
    Download <a href="./setup/swc-installation-test-1.py">swc-installation-test-1.py</a>
  </li>
  <li>Open up a bash shell</li>
  <li>Change into the directory where you put the script</li>
  <li>Run the script:
    <pre>python swc-installation-test-1.py</pre>
  </li>
</ul>
<p>
  To check you have the necessary software and tools:
</p>
<ul>
  <li>
    Download <a href="./setup/swc-installation-test-2.py">swc-installation-test-2.py</a>
  </li>
  <li>Open up a bash shell</li>
  <li>Change into the directory where you put the script</li>
  <li>Run the script:
    <pre>python swc-installation-test-2.py</pre>
  </li>
</ul>

</div>
</div>

<!-- Make the next bit accessable before the start of day 1 -->
<hr/>
  <h2>During and after the workshop</h2>
  <p> We have gathered together the various links you will need and useful 
      information below. These will remain accessable after the workshop and 
      we will add to this list as the workshop progresses. Please read and 
      abide by the <a href='http://software-carpentry.org/conduct.html'
      >code of conduct</a>.</p>

  <p> We will make use of
      <a href='https://etherpad.mozilla.org/SWC-Leeds-NERC-Nov2014'>this etherpad</a>
      during the workshop. (But this broke - we are now <a 
      href="https://etherpad.mozilla.org/UtREnyD7KE">here</a>.)
      Please use this to keep collaborative notes and ask 
      (and answer) each others questions. Feel free to tweet from the workshop using 
      <a href='https://twitter.com/search?f=realtime&q=%23SWCLeeds'>#SWCLeeds</a>.</p>

  <h3>Workshop material</h3>
   <p>Much of the material we will be using during the workshop can be found online
      at <a href='https://github.com/andreww/SWC-leeds-NERC'>github.com/andreww/SWC-leeds-NERC</a>.
      You will need this on your laptop. In order to download the material (and to
      check you have a working system with internet access) please start a new
      shell and type the following commands:
<pre class="in">
<code>cd 
cd Desktop
git clone https://github.com/andreww/SWC-leeds-NERC.git</code></pre>
      (typing return after each line). You should see something like
      "repository successfully cloned". Let us know if this does not work 
      for you.
   </p>

  <h3>Stuck somewhere new?</h3>
   <p>
    If you find yourself in a shell that you don't recognise, or in an editor 
    that you can't get out of then see 
    <a href="novice/ref/05-prompts-exits.html">recognising prompts and how to exit</a>.
   </p>

<!-- Make the stuff below accessale before the end of day 2 -->
<!--
<h3>Useful links</h3>

<h4> Software Carpentry online lessions:</h4>
<ul>
<li><a href="novice/git/index.html">Version Control with Git</a></li>
<li><a href="novice/python/index.html">Programming with Python</a></li>
<li><a href="intermediate/make/">Automating tasks with make</a></li>
<li><a href="http://software-carpentry.org/v4/make/index.html">Make</a> (v4)</li>
<li><a href="http://software-carpentry.org/v4/test/index.html">Testing</a> (v4)</li>
</ul>

<h4>Git:</h4>
    <ul>
     <li>
      GitHub <a href="https://try.github.io/levels/1/challenges/1">interactive Git tutorials</a>
     </li>
     <li>
      <a href="http://justinhileman.info/article/git-pretty/">Git pretty</a> - a flowchart about how to recover from mistakes.
     </li>
      <a href="https://presentate.com/bobthecow/talks/changing-history">Changing History, or How to Git pretty</a> - slides relating to the above.
     </li>
    </ul>

<h4>Python:</h4>
    <ul>
     <li>
      <a href="http://matplotlib.org/gallery.html">matplotlib examples gallery</a> - includes source code.
     </li>
     <li>
      <a href="http://wiki.scipy.org/Cookbook">SciPy Cookbook</a> - examples of how to do useful stuff using numpy, scipy, matplotlib, interfacing, etc.
     </li>
     <li>Scientific Python <a href="http://scipy-lectures.github.io/">lecture notes</a></li>
    </ul>

<h4>Training:</h4>
    <ul>
     <li>
      <a href="http://www.archer.ac.uk/training/">ARCHER Training</a> - free HPC training all over the UK.
     </li>
     <li>
      <a href="http://www.codecademy.com/">Code Academy</a> - free online programming courses</a>
     </li>
    </ul>

<h4>Papers</h4>
<p>
    Wilson G, Aruliah DA, Brown CT, Chue Hong NP, Davis M, et al. (2014)  
    Best Practices for Scientific Computing. PLoS Biol 12(1): e1001745. <a 
    href="http://dx.doi.org/10.1371/journal.pbio.1001745">doi:10.1371/journal.pbio.1001745</a>.
</p>
<p>
    Sandve GK, Nekrutenko A, Taylor J, Hovig E (2013) Ten Simple Rules for  
    Reproducible Computational Research. PLoS Comput Biol 9(10): e1003285. 
   <a 
    href="http://dx.doi.org/10.1371/journal.pcbi.1003285">doi:10.1371/journal.pcbi.1003285</a>.
</p>
<p>
    Noble WS (2009) A Quick Guide to Organizing Computational Biology 
    Projects. PLoS Comput Biol 5(7): e1000424. <a 
    href="http://dx.doi.org/10.1371/journal.pcbi.1000424">doi:10.1371/journal.pcbi.1000424</a>.
</p>
<p>
    Ram K (2013) "git can facilitate greater reproducibility and increased
    transparency in science", Source Code for Biology and Medicine 2013,
    8:7 <a
    href="http://dx.doi.org/10.1186/1751-0473-8-7">doi:10.1186/1751-0473-8-7</a>.
</p>
<p>
    Glass, R. (2002) Facts and Fallacies of Software Engineering, 
    Addison-Wesley, 2002. (<a 
    href="http://ff.tu-sofia.bg/~bogi/France/SoftEng/books/Addison%20Wesley%20-%20Robert%20L%20Glass%20-%20Facts%20and%20Fallacies%20of%20Software%20Engineering.pdf">PDF</a>).
</p>
-->

